{% extends "layout/empty.html" %}

{% block title %}Aradığınız sayfaya ulaşılamadı{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .container{
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert">
                    <p>Aradığınız sayfa bulunamadı.</p>
                    <a href="{% url 'home' %}" class="btn btn-success">Anasayfa</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}