#-*- coding: utf-8 -*-

from settings import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG
ENVIRONMENT_NAME = "stage"

STATIC_URL = '/static/'

DATABASES['default']['HOST'] = '127.0.0.1'
DATABASES['default']['USER'] = 'root'
DATABASES['default']['PASSWORD'] = ''

FACEBOOK_APP_ID = ''
FACEBOOK_APP_SECRET = ''

AWS_STORAGE_BUCKET_NAME = '{{ project_name }}-stage'